#código htaccess
RewriteEngine on
RewriteCond $1 !^(index.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]

<Files .conf>
Order allow,deny
Deny from all
</Files>
<Files .settings>
Order allow,deny
Deny from all
</Files>